//@H2 Variables
//@description This file contains the base variables for the application.

//@H3 Text
//@description These are the variables pertaining to text colors.

//@description The base color for all text
$color-text: rgba(0, 0, 0, 1);

//@description The color used for warning text
$color-text--warning: rgba(255, 150, 60, 1);

//@description The color used for error text
$color-text--error: rgba(255, 0, 0, 1);


//@H3 Borders
//@description These are the variables pertaining to border colors.

//@description The default border color
$color-border: rgba(0, 0, 0, 0.6);